* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.launch-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.launch-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  overflow: hidden;
  border: 1px solid #dfe1e6;
  border-radius: 20px 0;
  padding-bottom: 15px;
}

.launch-card:hover {
  box-shadow: 0 0 20px 20px #ddd;
}

.imgHeader {
  background-image: url('https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launcher_images/falcon_9_block__image_20210506060831.jpg');
  height: 200px;
  background-size: cover;
}

.title {
  padding: 10px;
  height: 100px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.template {
  display: none;
}

#launch-modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: auto;
}

#launch-modal .launch-card {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #fff;
}

#launch-modal .launch-card:hover {
  box-shadow: none;
}

.launch-img {
  background-image: url('https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launcher_images/falcon_9_block__image_20210506060831.jpg');
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.launch-img .content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
}

#comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

#comment ul {
  display: block;
  list-style: none;
  align-self: center;
}

.entry form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
